@model List<Nackowski.Models.API_ViewModels.AuktionVM>

@{


    foreach (var auktion in Model)
    {
        var todaysDate = DateTime.Now;
        var isOpen = auktion.SlutDatum > todaysDate;
        var daysLeft = (auktion.SlutDatum - todaysDate).Days;
        var highestBid = 0;

        if (auktion.Bud != null && !(auktion.Bud.Count() == 0))
        {
            highestBid = auktion.Bud.Max(b => b.Summa);
        }


        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="row card-body">
                    <div class="col-sm-12 card-title">
                        <h5 class="col-8 pull-left">
                            @auktion.Titel
                        </h5>
                       
                        <h5 class="col-4 pull-right">
                            @if (isOpen)
                            {
                                <span class="badge badge-primary pull-right">@daysLeft Dagar kvar</span>
                            }
                        </h5>



                    </div>
                    <div class="col-sm-8 pull-left">
                        <ul class="list-unstyled">
                            <li><p class="card-text">@auktion.Beskrivning</p></li>
                            <li><p class="card-text">Start: @auktion.StartDatum</p></li>
                            <li><p class="card-text">Slut: @auktion.SlutDatum</p></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 pull-right">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td>Utropspris</td>
                                    <td>@auktion.Utropspris</td>
                                </tr>
                                <tr>
                                    <td>Högsta bud</td>
                                    <td>@highestBid kr</td>
                                </tr>
                                <tr>
                                    <td>Antal bud</td>
                                    <td>
                                        @if (auktion.Bud.Count > 0 && auktion.Bud != null)
                                        {
                                            @auktion.Bud.Count()
                                        }
                                        else
                                        {
                                            <p>Inga bud!</p>
                                        }

                                    </td>
                                </tr>
                                <tr>                                   
                                    <td colspan="2">
                                        <div class="alert alert-success p-0" role="alert">
                                            <a asp-controller="Home" asp-action="AuktionDetails" asp-route-Id="@auktion.AuktionID" class="alert-link col-12">
                                                Se detaljer
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                       


                      
                    </div>
                    
                    
                </div>
            </div>
        </div>
    }
}